{% extends 'components/manage_base.html' %}

{% block content %}
<div>
    <h2>All of the Medic Vehicles</h2>
     {% for unit in object_list %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ unit.image.url }}">
            <div class="media-body">
                <h2>{{ unit }}</h2>
                <div class="article-metadata">
                <p class="article-content">Unit Number: {{ unit.unit_number }}</p>
                <p class="article-content">{{ unit.year }} {{ unit.make }} {{ unit.model }}</p>
                {% if unit.property_number in mileage_list.keys %}
                    {% for prop_num, mileage in mileage_list.items %}
                    {% if unit.property_number == prop_num %}
                    <p class="article-content">Mileage: {{ mileage }}</p>
                    {% endif %}
                    {% endfor %}
                {% else %}
                <p class="article-content">Mileage: {{ unit.mileage }}</p>
                {% endif %}
            </div>
            <div>
                <a class="btn btn-secondary btm-sm mt-1 mb-1" href="{% url 'vehicle_update' unit.id %}">Update</a>
            </div>
            </article>

    {% endfor %}

</div>
{% endblock %}