{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <form action="" method="get">
        {{ filter.form|crispy }}
        <input type="submit" />
    </form>
    
    {% for obj in filter.qs %}
    <article class="media content-section" style="background-color: antiquewhite">
    <div class="media-body">
        <p>{{ obj.user|title }} | {{ obj.date_created}} | {{ obj.id }} {% if obj.drug_name|stringformat:"s" == 'Free Text' %} <br> Daily Check Free Text Only
        {% else %} <br> Drug: {{ obj.drug_name }}  {% endif %}{% if obj.amount_in_safe == None %}
        {% else %} <br> Amount in the Safe: {{ obj.amount_in_safe }} mg {% endif %} {% if obj.amount_removed == None %}
        {% else %} <br> Removed:  {{ obj.amount_removed }} mg {% endif %}  {% if obj.amount_added == None %}
        {% else %} <br> Added: {{ obj.amount_added }} mg {% endif %}
        {% if obj.incident_number == '' %}
        {% else %} <br>Incident Number: {{ obj.incident_number }} {% endif %} {% if obj.patient_name == '' %}
        {% else %} <br> Patient Name: {{ obj.patient_name }} {% endif %} {% if obj.medic_unit == None %}
        {% else %} <br> Unit: {{ obj.medic_unit }} {% endif %} {% if obj.free_text == '' %}
        {% else %} <br> Free Text: {{ obj.free_text }} {% endif %}</p>
    </div>
    </article>
    {% endfor %} 

{% endblock %}