{% extends 'blog/blog_base.html' %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.userprofile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{% url 'user_posts' object.author.username %}">{{ object.author|title }}</a>
            <small class="text-muted">{{ object.date_posted|date:"DATE_FORMAT" }}</small>
            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btm-sm mt-1 mb-1" href="{% url 'blog_update' object.id %}">Update</a>
                <a class="btn btn-danger btm-sm mt-1 mb-1" href="{% url 'blog_delete' object.id %}">Delete</a>
            </div>
            {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }} {{ object.date_posted|date:"DATE_FORMAT" }}</h2>
            <p class="article-content">{{ object.content }}</p>
        </div>
        </article>
{% endblock %}