{% extends 'components/manage_base.html' %}

{% block content %}
<div>
    <h2>All of the Medic Units</h2>
     {% for unit in object_list %}
        <article class="media content-section">
            <div class="media-body">
                <h2>{{ unit.unit_name }}</h2>
                <div class="article-metadata">
                <p class="article-content">Active unit: {{ unit.is_active}}</p>
                <p class="article-content">Is a supervisor unit: {{ unit.is_supervisor}}</p>
            </div>
            <div>
                <a class="btn btn-secondary btm-sm mt-1 mb-1" href="{% url 'medicunit_update' unit.id %}">Update</a>
            </div>
            </article>

    {% endfor %}

</div>
{% endblock %}